body {
    background: #fff;  
    width: auto;    
}

h1 {
    text-align: center;
    font-size: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(green, lightgreen);
}

h1:hover {
    color: #0011ff;
}

h1:active {
    color: green;
}

h2 {
    text-align: center;
    color: green;
    font-size: 40px;
}

.circle {
    border-radius: 100%;
    border: 5px solid #fff;
    background-image: linear-gradient(to bottom left, #0011ff, #00ff00);
    width: 150px;
    height: 150px;
    margin: auto;   
}

p {
    text-indent: 10%;
    text-align: justify;
    margin: auto;
    width: auto;
    padding: 10px 25% 20px 25%;
    font-size: larger;
}

#fun-stuff {
    background-color: blue;
}

table {
    margin: auto;
    padding: 25x 25px 25px 25px;
    border-top: 5px solid #f00;
    border-bottom: 5px solid #0f0;
    border-right: 5px solid #00f;
    border-left: 5px solid yellow;
    border-spacing: 5px;
    font-size: larger;
}

td {
    padding: 10px 10px 10px 10px;
    border: 2px dotted black;
}

.nav {
    border: 2px solid black;
    background-image: linear-gradient(rgb(4, 252, 231), rgb(117, 252, 21));
    margin: auto;
    text-align: center;
    width: auto;
    height: auto;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 0px 100px 0px 100px;
}
