body {
    background: #fff;  
    width: auto;    
}

h1 {
    text-align: center;
}

#intro {
    text-align: center;
    color: green;
}

.circle {
    border-radius: 100%;
    border: 5px solid #fff;
    background-image: linear-gradient(to bottom left, #0011ff, #00ff00);
    width: 150px;
    height: 150px;
    margin: auto;   
}

p {
    margin: auto;
    width: auto;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#fun-int {
    text-align: center;
    color: green;
}

#fun-stuff {
    background-color: blue;
}

table {
    margin: auto;
    padding: 25x 25px 25px 25px;
    border-top: 5px solid #f00;
    border-bottom: 5px solid #0f0;
    border-right: 5px solid #00f;
    border-left: 5px solid yellow;
    border-spacing: 5px;
}

td {
    padding: 10px 10px 10px 10px;
    border: 2px dotted black;
}

.nav {
    background-color: yellow;
    margin: auto;
    text-align: center;
    width: auto;
    height: auto;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 0px 100px 0px 100px;
}